.gridbox-nav {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.thumbnail {
    padding: 0.8rem 1.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;

}

.active {
    background-color: #292B40;
}

.inactive {
    background-color: #7E77AA;
}

.gridbox-nav-ul > a {
    color: #A0E4FF;
    text-decoration: none;
}

.gridbox-nav-ul {
    display: flex;
    justify-content: space-around;
    font-family: 'Averia Libre', cursive;
    font-size: 1.5rem;
}

