.gridbox-nav {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.thumbnail {
    padding: 0.5rem;
}


.gridbox-nav-ul > a {
    color: #A0E4FF;
    text-decoration: none;
}

.gridbox-nav-ul > a:hover {
    font-weight: 800;
}

.gridbox-nav-ul {
    display: flex;
    justify-content: space-around;
    font-family: 'Calps Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width:800px) {

    .thumbnail {
        border-top-left-radius: 15px;
        border-top-right-radius: 25px;
        padding: 0.8rem 1.5rem;

    }

    .active {
        background-color: #292B40;
    }
    
    .inactive {
        background-color: #7E77AA;
    }





}


@media (max-width:800px) {
    .gridbox-nav {
        flex-direction: column; 
        align-items: center;
    }

    .gridbox-nav-ul {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        border-radius: 15px;
        margin-right: 0.5rem;
    }

    .gridbox-nav-ul a {
        background-color: none;
    }

    .gridbox-nav-ul a:hover {
        background-color: #7E77AA;
        border-radius: 10px;

    }

}