body {
    color: white;
}

.tech-stack-list {
    display: flex;
    flex-direction: column;

}

.tech-stack-item {
    margin-top: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.project-details {

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #7E77AA;
    padding: 1rem;
    border-radius: 20px;

}

.project-details > span {
    line-height: 120%;
}