body {
    color: white;
}

.laboratory {
    max-width: 100%;
}

.tech-stack-list {
    display: flex;
    flex-direction: column;

}

.tech-stack-item {
    margin-top: 1rem;
}

.projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.project-details {

    display: flex;
    width: 40%;
    flex-direction: column;
    margin: 1rem;
    /* background-color: #7E77AA; */
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 3px 4px 7px 1px rgba(160,228,255,0.87);
}

.title {
    display: block;
    text-transform: uppercase;
    margin: 0.5rem auto;
    font-family: 'Averia Libre', cursive;
    color:  rgba(160,228,255,0.87);

}

.project-details > span {
    line-height: 120%;
}