#root {
    white-space: pre-line;
}

body {
    font-family: Arimo, Helvetica, sans-serif;
    background-color: #070406;
    width: 100vw;
    font-size: 0.9em;
    line-height: 1.2rem;
}

main {
    width: 100%;
}
.gridbox {

    display: grid;
    grid-template-columns: [first-column] 15% [second-column] 25% [third-column] 40% [fourth-column] auto;
    grid-template-rows: [first-row] 4rem [second-row] 8rem [third-row] 6rem [fourth-row] auto;
    width: 80%;
    margin: 5rem auto;
    /* border: 0.2rem solid #fff; */
    border-radius: 2rem;
    padding: 0.4em;

}


.gridbox-profilepic {

    grid-column-start: second-column;
    grid-column-end: third-column;
    grid-row-start: second-row;
    grid-row-end: second-row;
   
}

#baseline {
    display: flex;
    font-family: 'Kompot Display Demo', 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: #A0E4FF;
    margin-bottom: 2rem;

}

.sub-gridbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-row-start: second-row;
    grid-row-end: second-row;
    grid-column-start: third-column;
    grid-column-end: third-column;
}


.gridbox-nav {
    grid-column-start: second-column;
    grid-column-end: third-column;
    grid-row-start: third-row;
    grid-row-end: third-row;

  
}

.gridbox-center {

    grid-column-start: second-column;
    grid-column-end: fourth-column;
    grid-row-start: fourth-row;
    grid-row-end: fourth-row;
    z-index: 10;

}

.gridbox-shortcuts-nav {

    /* Grid proprties*/
    grid-column-start: first-column;
    grid-column-end: first-column;
    grid-row-start: fourth-row;
    grid-row-end: fourth-row;

}

.show {
    transform: translateX(0%);
}

.gridbox-shortcuts-nav ul li {
    margin-bottom: 0.6rem;
    text-align: center;
}




/* Fonts imports */
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('../fonts/CalpsSans/CalpsSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans SemiLight';
    src: url('../fonts/CalpsSans/CalpsSans-SemiLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('../fonts/CalpsSans/CalpsSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('../fonts/CalpsSans/CalpsSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('../fonts/CalpsSans/CalpsSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calps Sans SemiLight';
    src: url('../fonts/CalpsSans/CalpsSans-SemiLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kompot Display Demo';
    src: url('../fonts/KompotDisplayDemo/KompotDisplayDemo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





