body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #070406;
    width: 100vw;
}

main {
    width: 100%;
}
.gridbox {

    display: grid;
    grid-template-columns: [first-column] 20% [second-column] auto [third-column] auto;
    grid-template-rows: [first-row] 8rem [second-row] auto;
    width: 70%;
    margin: 5rem auto;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #95E4FF,
                0 0 0.8rem #95E4FF,
                0 0 2.8rem #95E4FF,
                inset 0 0 1.3rem #95E4FF;
 
}

.gridbox-profilepic {

    grid-column-start: first-column;
    grid-column-end: first-column;
    grid-row-start: first-row;
    grid-row-end: first-row;

}

.gridbox-nav {


    grid-column-start: second-column;
    grid-column-end: third-column;
    grid-row-start: first-row;
    grid-row-end: first-row;

  
}

.gridbox-center {

    grid-column-start: second-column;
    grid-column-end: third-column;
    grid-row-start: second-row;
    grid-row-end: second-row;
    z-index: 10;

}

.gridbox-shortcuts-nav {

    /* Grid proprties*/
    grid-column-start: first-column;
    grid-column-end: first-column;
    grid-row-start: second-row;
    grid-row-end: second-row;

}





