.left-box-toggle {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.language-toggle {
    display: flex;
    width: 10rem;
    margin: 2rem 3rem auto auto;
}   

.language-toggle span {
    color: #A0E4FF
}   

.language-toggle-icon {
    background-color: #7E77AA;
    border-radius: 150%;
    padding: 1.2rem;
    margin: 0 1rem 0 0;

}

img {
    width: 100%;
}

#bigbenpic {
    width: 120%;
}