.left-box-toggle {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.language-toggle {
    display: flex;
    width: 10rem;
    margin: 4rem 10rem auto auto;
    align-items: baseline;
}   

.language-toggle span {
    color: #A0E4FF;
    font-family: 'Calps Sans', 'Arial', sans-serif;
    font-weight: 600;
}   

.language-toggle-icon {
    padding: 0.8rem;
    margin: 0 1rem 0 0;

}

img {
    width: 100%;
}

#bigbenpic {
    width: 120%;
}